[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
"autopep8" = "*"
rope = "*"
pylint = "*"
pylint-django = "*"

[packages]
django = "*"
graphene-django = "*"
django-filter = "*"

[requires]
python_version = "3.7"
